@import './commons.scss';

.nav-item {
    margin-left: 1rem;

    font-size: 1.2rem;
    @include selectFont('Roboto');
}

.navbar-nav .nav-link {
    transition: background-color 0.5s, color 0.5s, border-color 0.5s, font-weight 0.3s;
}

.navbar-nav .nav-link:hover {
    background-color: #60bae7;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.navbar-nav .nav-item.active .nav-link {
    font-weight: bold;
    color: #f69f2d;
}

.navbar-nav .nav-item.active .nav-link-panel {
    font-weight: bold;
    color: #fff;
}