@import './commons.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Playfair+Display:ital,wght@1,400;1,500&display=swap'); 

.home-section {
    position: relative;
    overflow: hidden;
    background: hsl(171, 65%, 78%);

    svg {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.home-title {
    margin-top: 1rem;
    @include titleSeparator(2.2rem, 4rem, #FFA500, 0.6rem);
    color: #f69f2d;

    font-weight: bold;
    @include selectFont('Open Sans');
}

.home-subtitle {
    margin-top: 6rem;

    @include selectFont('Open Sans');

    color: #60bae7;
    @include titleSeparator(2rem, 4rem, #FFA500, 0.6rem);
}


.home-section {
    .container {
        margin-top: 6rem;
    }
}

.section-one-text {
    @include selectFont('Roboto');

    .parrafo {
        &::first-letter {
            margin-left: 1.5rem;
        }
    }
}

.home-vision-title {
    color: #60bae7;
    @include titleSeparator(2rem, 4rem, #FFA500, 0.6rem);
}

.image-vision-container {
    margin-top: 6rem;
}

.home-second-section {
    background: #ADE1D9;
    position: relative;

    svg {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.section-two-text {
    @include selectFont('Roboto');

    .parrafo {
        &::first-letter {
            margin-left: 1.5rem;
        }
    }
}

.img-carousel {
    height: 40rem;
}

.servicios-title {
    margin: 1rem 0 1rem;
    padding: 0.5rem 0 0.5rem;

    font-size: 1.7rem;
    @include selectFont('Raleway');

    text-decoration: underline;

    color: #f69f2d;
    @include titleSeparator(2rem, 4rem, #FFA500, 0.6rem);
}


#servicio1 {
    padding-top: 7rem;

    .adiestramiento-title {
        padding-top: 3rem;
        padding-bottom: 1.5rem;

        color: #60bae7;
        font-size: 1.8rem;
    }

    img {
        padding-top: 1rem;
    }
}

#servicio2 {
    padding-top: 1rem;

    .escuela-title {
        padding-top: 3rem;
        padding-bottom: 1.5rem;

        color: #60bae7;
        font-size: 1.8rem;
    }
}

#servicio3 {
    padding-top: 1rem;

    .ventas-title {
        padding-top: 3rem;
        padding-bottom: 1.5rem;

        color: #60bae7;
        font-size: 1.8rem;
    }
}

.sponsor-title {
    margin: 1.7rem 0 1.7rem;
    padding: 0.7rem;

    font-size: 1.8rem;
    @include selectFont('Playfair Display');

    color: #f69f2d;
    text-decoration: underline;

    animation: sponsorFadeUp 3.5s ease-in-out infinite; 
}

footer {
    background: hsl(171, 65%, 78%);
}

@keyframes sponsorFadeUp {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}