.listado-titulo {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    
    font-size: 1.3rem;
    font-weight: bold;

    color: #60bae7;

    text-decoration: underline;
}

.table-container {
    margin-left: 10vw !important;

    .tabla-articulos {
        height: auto;
        width: 80vw;

        .id_table {
            color: cornflowerblue;
        }
    }
}